RewriteEngine on
RewriteCond %{HTTP_HOST} ^(www.)?app.proximeal.com$
RewriteCond %{REQUEST_URI} !^/public/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /public/$1
RewriteCond %{HTTP_HOST} ^(www.)?app.proximeal.com$
RewriteRule ^(/)?$ public/index.php [L]
<Files 403.shtml>
order allow,deny
allow from all
</Files>
